# 服务端口（默认 3000）
PORT=3000

# VAPID 密钥（用于 Web Push 推送，不要修改，除非你重新生成）
VAPID_PUBLIC_KEY=BDy-v2PgWg6_BKbpG2_BtHgt3iFjaAqi0rrsBVq45rAAlAQnaKKzJAjgvHOucZS-V0gHhTlpOd7U0I4twjER-U8
VAPID_PRIVATE_KEY=CQCnVQUWHYTfrHoWcdognU5rtbQccAGPC5_-BzJBeBc
VAPID_EMAIL=mailto:gold-monitor@example.com
